body{
    background-color: grey;
}
img{
    border:2px solid black
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
header {
    background-color: black;
    color: green;

}
.banderas{
    width: 50px;
    height: 25px;
}
.section-banderas{
    font-size:large;
    display: flex;
}
.lugares{
    display:flex;
}
.contenedor{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#centrosescolaresguadix{
    width: 300px;
}

#sedeugr{
    width: 300px;    
}

#escudoletras{
     width: 145px;
}
#pianoyguitarra{
    width: 500px;
}
#peliculaep{
    width: 200px;
}
#cervantes{
    width: 300px;
}
footer{
   background-color: black;
   color: green;
   text-align: center;
}