body{
    background-color: grey;
}
img{
    border:2px solid black
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
header {
    background-color: black;
    color: green;
}
.banderas{
    width: 150px;
    height: 100px;
}
.section-banderas{
    font-size:large;
    display: flex;
}
.lugares{
    display:flex;
}
.contenedor{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#sedeugr{
    width: 300px;    
}
#cervantes{
    width: 300px;
}